<tr>
  <td>Homework</td>
  <td></td>
  {{#if href}}
    {{#if solution-href}}
    <td><a href="{{href}}">{{title}}</a> <a href="{{solution-href}}">[solution]</a></td>
    {{else}}
    <td><a href="{{href}}">{{title}}</a></td>
    {{/if}}
  {{else}}
    <td>{{title}}</td>
  {{/if}}
  <td>
    Due {{due}} at 11:59pm
  </td>
</tr>