<tr>
  <td>Homework</td>
  <td></td>
  {{#if href}}
    <td><a href="{{href}}">{{title}}</a></td>
  {{else}}
    <td>{{title}}</td>
  {{/if}}
  <td>
    {{#if solution-href}}
      <a href="{{solution-href}}">[solution]</a>
    {{else}} 
      Due {{due}} at 11:59pm
    {{/if}}
  </td>
</tr>
