<tr>
  <td>{{date}}</td>
  <td>{{displaytype}}</td>
  <td>
  {{#if notebook}}
    <a href="{{notebook}}">{{title}}</a> 
  {{else}}
    {{title}}
  {{/if}}
  </td>
  <td> {{> solution-notebook }} </td>
</tr>