<tr>
  <td>{{date}}</td>
  <td>{{displaytype}}</td>
  <td>{{title}} </td>
  <td> {{> notebook }} </td>
</tr>

{{#if warmup}}
 {{> (lookup . 'type') warmup }}
{{/if}}

{{#if followup}}
 {{> (lookup . 'type') followup }}
{{/if}}