<tr>
  {{#if displaytype}}
   <td></td>
   <td>{{displaytype}}</td>
  {{else}}
    <td>{{date}}</td>
    <td>Lecture</td>
  {{/if}}

  {{#if href}}
  <td><a href="{{href}}">{{title}}</a></td>
  {{else}}
  <td>{{title}}</td>
  {{/if}}
  <td/>
</tr>