<tr>
  <td>{{date}}</td>
  <td>Lecture</td>
  {{#if href}}
  <td><a href="{{href}}">{{title}}</a></td>
  {{else}}
  <td>{{title}}</td>
  {{/if}}
  <td/>
</tr>

{{#if warmup}}
 {{> (lookup . 'type') warmup }}
{{/if}}

{{#if followup}}
 {{> (lookup . 'type') followup }}
{{/if}}